<footer>
  <% let currentYear = new Date().getFullYear().toString() %>
  <!--Get the last two digits-->
  <% currentYear = currentYear.substring(currentYear.length - 2, currentYear.length)%>
  <p>Copyright © 20<%= currentYear %></p>
</footer>

</html>