<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤ To-Do List ❤</title>
    <!--Note that since stylesheets are static files, & we are using express.static middleware, we give href attribute the filepath relative to the public folder-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <header>
    <div class="navbar">
      <p><a href="/">Home List</a></p>
      <p><a href="/work">Work List</a></p>
    </div>
  </header>